1. Read the csv file as a DataFrame for further processing using pandas.read_csv().

In [1]:
import pandas as pd

# Read movie dataset
movie_data = pd.read_csv('moviemetadata.csv')
movie_data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

2. Inspect the read csv file using .shape, .columns, .info and .describe().

In [3]:
#movie_data.shape
#movie_data.columns
#movie_data.info
movie_data.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

3. Display the first five records of the data set using .head(5) and the last five records using .tail(5).

In [8]:
#movie_data.head(5)
movie_data.tail(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

4. Select from the data set the first five records. Those records shall only contain the following columns: 

movie_title, duration and num_voted_users.

In [4]:
movie_data[['movie_title', 'duration', 'num_voted_users']].head(5)

,movie_title,duration,num_voted_users
0,Avatar,178.0,886204
1,Pirates of the Caribbean: At World's End,169.0,471220
2,Spectre,148.0,275868
3,The Dark Knight Rises,164.0,1144337
4,Star Wars: Episode VII - The Force Awakens ...,NaN,8

5. Select the first five movies containing the genre “Action”. Display only the columns movie_title and genres.

In [5]:
action_mask = movie_data['genres'].str.contains('Action')
movie_data[action_mask][['movie_title', 'genres']].head(5)

                                 movie_title                           genres
0                                    Avatar   Action|Adventure|Fantasy|Sci-Fi
1  Pirates of the Caribbean: At World's End          Action|Adventure|Fantasy
2                                   Spectre         Action|Adventure|Thriller
3                     The Dark Knight Rises                   Action|Thriller
5                               John Carter           Action|Adventure|Sci-Fi

6. Sort the action movies by their “imdb_score” and display the names and scores the top-10 scored movies.

In [12]:
movie_data[action_mask].sort_values('imdb_score', ascending=False)[['movie_title', 'imdb_score']].head(10)

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

                                            movie_title  imdb_score
4409                              Kickboxer: Vengeance          9.1
66                                     The Dark Knight          9.0
339      The Lord of the Rings: The Return of the King          8.9
270   The Lord of the Rings: The Fellowship of the R...         8.8
459                              Daredevil                      8.8
2051    Star Wars: Episode V - The Empire Strikes Back          8.8
97                                           Inception          8.8
4468                            Queen of the Mountains          8.7
654                                         The Matrix          8.7
340              The Lord of the Rings: The Two Towers          8.7

7. Group the movies by column ’director’ and display the top-10 directors with the highest mean gross of their movies.

 gross refers to gross earnings

In [33]:
movie_data.groupby(['director_name'])['gross'].mean().sort_values(ascending=False).head(10)

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

director_name
Joss Whedon        4.327217e+08
Lee Unkrich        4.149845e+08
Chris Buck         4.007366e+08
Tim Miller         3.630243e+08
George Lucas       3.482837e+08
Kyle Balda         3.360296e+08
Colin Trevorrow    3.280925e+08
Yarrow Cheney      3.235055e+08
Pete Docter        3.131138e+08
Pierre Coffin      3.097756e+08
Name: gross, dtype: float64